@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
  font-family: 'Poppins', sans-serif;
}

body {


  font-family: 'Poppins', sans-serif;


}

/* svg {
      fill: #0d77cb;
    } */
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

:root {

  --br-primary: #00AEFF;

  --br-white: #ffffff;
  --br-blue-dark: #152036;
  --br-blue-dark: #1A202C;
  --br-bg-green: #278557;
  --br-search-border: #CBCBCB;
  --br-black: #000000;
  --br-gray: #4A5568;
  --br-br-dark-bg: #00553c;


  /* custom padding abr margin*/
  --br-space-0: 0px;
  --br-space-25: 1px;
  --br-space-50: 2px;
  --br-space-100: 4px;
  --br-space-175: 5px;
  --br-space-150: 6px;
  --br-space-200: 8px;
  --br-space-250: 10px;
  --br-space-300: 12px;
  --br-space-350: 14px;
  --br-space-400: 16px;
  --br-space-450: 18px;
  --br-space-500: 20px;
  --br-space-550: 22px;
  --br-space-600: 24px;
  --br-space-650: 25px;
  --br-space-700: 28px;
  --br-space-750: 30px;
  --br-space-800: 32px;
  --br-space-900: 36px;
  --br-space-950: 36px;
  --br-space-1000: 40px;
  --br-space-1100: 44px;
  --br-space-1200: 48px;
}

.main-mobile-header {
  display: none;
}
.br-label {
    font-size: var(--br-space-350);
    font-weight: 500;
    color: var(--br-light-white);
}
.br-form-control {
    height: 40px;
    border-radius: var(--br-space-200);
    border: 1px solid var(--br-search-border);
    color: #808090;
    font-size: var(--br-space-300);
}
.br-basic-info h1{
    font-size: var(--br-space-500);
    font-weight: 600;
    color:#000;
    margin-bottom: var(--br-space-700);
}
.br-box-container{
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: var(--br-space-400);
    padding: var(--br-space-800);
    margin-bottom: var(--br-space-1000);
}
@media only screen and (max-width: 568px) {
  .br-login {
    margin: var(--br-space-200) var(--br-space-0) var(--br-space-0) var(--br-space-0) !important;
  }

  .main-mobile-header {
    display: block;
  }

  .main-header {
    display: none;
  }
}