/* Card Styling */
.job-card {
    border-radius: 10px;
    border: none !important;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.br-career-card {
    border-radius: 12px !important;

    transition: all 0.3s ease-in-out;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 10px 32px #00000012;
}

.job-opening-btn {
    text-align: center;

}

.job-view-btn {
    font-size: 12px;
}

.resume-pdf {
    font-size: 10px;
    color: red;
    margin-left: 2px;
}

/* Card Body */
.job-card .card-body {
    padding: 20px;
}

.br-career-body {
    font-size: 12px;

}

.br-job-apply {
    font-size: var(--br-space-400);

    font-weight: 600;

}

.br-career-modal.modal-header {
    background: var(--br-primary);
    color: #fff;

}

.ourteam-box::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--br-primary);
    opacity: 1;
    top: 0;
    left: 0;
    scale: 0;
    transition: all .5s ease;
    border-radius: 50%;
}

.br-career-title:hover .card-title h5 {
    color: var(--br-white);
}

/* Title */




/* Text */
.job-card p {
    margin-bottom: 8px;
    font-size: 15px;
    color: #333;
}

.card-subtitle {
    margin-top: 12px;
}


.br-career-info {
    margin-top: 12px;
}

.br-career-card:hover {
    background: var(--br-primary) !important;
    color: var(--br-white);
}




/* Responsive */
@media (max-width: 768px) {}