.course-info {
  margin: 4px 0;
  font-size: 14px;
}

.course-label {
  font-weight: 600;
  color: #374151;
  /* Elegant dark gray */
  margin-right: 6px;
}

.course-value {
  font-weight: 700;
  color: #d97706;
}

.course-info:hover .course-label,
.course-info:hover .course-value {
  color: #ffffff;
}

.course-sub-heading h4 {
  font-size: 16px !important;
}

.course-sub-heading p {
  font-size: var(--br-space-300);
}

/* Module Container Styles */
.module-container {
  margin-bottom: 20px;
}

.module-heading {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  color: black;
  font-weight: 600;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

/* .module-heading:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
} */

.module-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-right: 12px;
  font-weight: 700;
  font-size: 14px;
}

.module-card {
  border-radius: 0 0 8px 8px;
  border-top: none;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.module-card ul {
  margin-bottom: 0;

}

.module-card li {
  margin-bottom: 8px;
  line-height: 1;
  font-size: 13px;
}

.module-card li:last-child {
  margin-bottom: 0;
}

/* Section Heading Style */
.section-heading {
  color: #282c34;
  font-weight: 700;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid #61dafb;
}

.btn-register-top {
  background: transparent linear-gradient(180deg, #1973D8 0%, #0B488F 100%) !important;
  color: #ffffff;
  border: none !important;
  font-size: 12px;
  border-radius: 2px;
  width: 102px;
}

.btn-register-top:hover {
  color: #f09e40;

}

.service-btn-read {
  background-color: #1973d8;
  color: var(--br-white);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 8px;
  cursor: pointer;
}

/* Training Wrapper */
.training-wrapper {

  border-radius: 10px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .module-heading {
    font-size: 16px;
    padding: 10px 12px;
  }

  .module-number {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
}


/* Team Section Styles */
.our-team-section {
  position: relative;
 
  padding-bottom: 40px;
}

.our-team-section:before {
  position: absolute;
  top: -0;
  left: 0;
  content: " ";

  background-size: 100% 100px;
  width: 100%;
  height: 100px;
  float: left;
  z-index: 99;
}

.our-team {
  padding: 30px 0 40px;
  background: #ffffff;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #0985e9;
  border-radius: 6px;
  box-shadow: 0px 10px 32px #00000012;
}

.our-team:hover {
  border-bottom: 5px solid #2f2f2f;
}

.our-team .pic {
  display: inline-block;
  width: 152px;
  height: 122px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--br-primary) !important;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--br-primary) !important;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before {
  height: 100%;
  background: #2f2f2f;     
}

.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}

.our-team:hover .pic:after {
  background: #d77300;
}

.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
  position: relative;
  z-index: 2;
}

.our-team:hover .pic img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .team-content {
  margin-bottom: 30px;
}

.our-team .title {
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.our-team .post {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--br-primary) !important;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.our-team .social li a:hover {
  color: #2f2f2f;
  background: #f7f5ec;
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

/* Team Section Styles */
.our-team-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.our-our-teams {
  padding: 30px 0 40px;
  background: #ffffff;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid #ff8800; /* orange */
  border-radius: 6px;
  box-shadow: 0px 10px 32px #00000012;
}
.our-heading-team h1{
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.our-our-teams:hover {
  border-bottom: 5px solid #ff5500; /* darker orange */
}

.our-our-teams .pic {
  display: inline-block;
  width: 152px;
  height: 122px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-our-teams .pic:before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ff8800; /* orange */
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 1;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-our-teams:hover .pic:before {
  height: 100%;
  background: #ff5500; /* dark orange */
}

.our-our-teams .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear 0s;
}

.our-our-teams:hover .pic:after {
  background: #ffcc99; /* soft orange highlight */
}

.our-our-teams .pic img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 14px #fff4e6; /* light orange shadow */
  transform: scale(0.7);
  position: relative;
  z-index: 2;
  transition: all 0.9s ease 0s;
}

/* Text */
.our-our-teams .title {
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  margin-bottom: 5px;
}

.our-our-teams .post {
  display: block;
  font-size: 15px;
  color: #4e5052;
}

/* Social Icons */
.our-our-teams .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #ff8800;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-our-teams:hover .social {
  bottom: 0;
}

.our-our-teams .social li {
  display: inline-block;
}

.our-our-teams .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
}

.our-our-teams .social li a:hover {
  color: #ff8800;
  background: #fff4e6;
}

/* Responsive */
@media only screen and (max-width: 990px) {
  .our-our-teams {
    margin-bottom: 30px;
  }
}
