
span.br-span-star {
    color: red;
}


.br-upload-box {
  border: 2px dashed #f1a36b;
  background-color: #fff6f1;
   border-radius: var(--br-space-300);
  padding: 0px;
  transition: 0.3s ease;
  cursor: pointer;
}
.br-check-icon{
  font-size: 14px;
}
.br-btn-delete{
  font-size: 10px;

}
.br-upload-box:hover {
  background-color: #fff1e8;
  border-color: #ff9752;
}

.upload-icon {
    font-size: 32px;
    color: #2a3e7f;
    margin-bottom: var(--br-space-250);
}

.upload-text {
  font-size: var(--br-space-300);
  color: #555;
  margin-bottom: var(--br-space-100);
}

.upload-or {
  font-size: var(--br-space-350);
  color: #888;
  margin: var(--br-space-100) var(--br-space-0);
}

.upload-browse {
    color: #0b51b7;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}

.upload-browse:hover {
  color: #d96d2a;
}
.br-delete-file{
  margin-top: 12px;
}
.progress{
  height: 12px !important;
}
/* Progress Box Styling */
.upload-progress-box {
  text-align: left;
  background: #fff;
  border: 1px solid #ffe0c7;
  border-radius: var(--br-space-250);
  padding: var(--br-space-350);
}

.progress-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-icon {
  color: #f08a45;
  font-size: var(--br-space-500);
  margin-right: var(--br-space-250);
}

.progress-filename {
  flex-grow: 1;
  font-weight: 500;
  color: #444;
  margin-left: var(--br-space-100);
  font-size: 12px;
}

.progress-status {
  color: #f0a045;
  font-size: var(--br-space-450);
}

.progress-complete {
  color: #5cb85c;
  font-size: var(--br-space-450);
}
.progress {
   height: 18px;
  background-color: #ffe3c8;
  border-radius: var(--br-space-100);
  overflow: hidden;
}

.progress-bar {
  background-color: #00553c;
  transition: width 0.4s ease;
  font-size: var(--br-space-250);
  color: #fff;
  text-align: center;
}
.br-card-success{
    font-size: 12px;
}
.br-doc-box {
    border: 2px dashed #eceff5;
    background-color: #f8f9fb;
    border-radius: var(--br-space-300);
    padding: 8px;
    transition: 0.3s 
ease;
    cursor: pointer;
}
.doc-text {
    font-size: var(--br-space-300);
    /* color: #555; */
    margin-bottom: var(--br-space-100);
    color: #000;
    font-weight: 500;
}
