.awc-main {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffff !important;

}

.br-span {
    color: var(--br-primary) !important;
    font-size: var(--br-space-400) !important;
    font-weight: var(--br-space-800) !important;
}

.nav-sub-list {
    font-size: var(--br-space-300) !important;
    background-color: #F6B325;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    color: var(--br-white) !important;
    padding-left: var(--br-space-200);
    box-shadow: 1px 1px 5px rgba(161, 182, 253, 0.825);
    max-width: 178px;
}

.awc-title {
    line-height: var(--awc-space-400);
    color: var(--br-black) !important;
    margin-top: 18px;
}

img.logo1 {
    width: 45px;
}


.awc-subtitle {
    color: var(--br-blue-dark-bg) !important;
    font-size: var(--br-space-450) !important;
    display: flex;
    margin-left: var(--br-space-300);

}

img.logo-wecd {
    width: 88px;
}

.subtitle {
    color: var(--br-Primary) !important;
    font-size: var(--br-space-350) !important;
    line-height: var(--br-space-600) !important;
}

.nav-link {
    color: var(--br-black);
    font-weight: var(--br-space-800) !important;
    font-size: var(--br-space-400);
}

.nav-link:hover {
    color: #F6B325;
}

.awc-title p {
    font-size: var(--awc-space-300);
    color: var(--br-Primary);
    margin-top: var(--br-space-100);
    margin-left: 12px;
}




@media (max-width: 576px) {

    .awc-title p {
        font-size: var(--br-space-200);
    }

    .awc-title p {
        display: none;
    }

    .awc-title {
        margin-top: 4px;
    }

    .logo {
        display: flex;
        margin-right: var(--br-space-0) !important;
    }

    .awc-title {

        font-size: var(--br-space-200) !important;
    }

    .awc-subtitle {

        display: flex;
        font-size: var(--br-space-300) !important;
    }

    .subtitle {
        font-size: var(--br-space-250) !important;
    }

    .awc-mob-responsive {
        padding: var(--br-space-150)var(--br-space-150) var(--br-space-150) var(--br-space-150) !important;
    }

}