.profile-photo-wrapper {
  position: relative;
  display: inline-block;
}

.profile-photo-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  opacity: 0;
  transition: 0.3s ease;
}

.profile-photo-wrapper:hover .profile-photo-overlay {
  opacity: 1;
}

.profile-photo-overlay span {
  margin-top: 5px;
  font-size: 12px;
}
