

.br-team-card h3{
    font-size: var(--br-space-400);
    font-weight: 600;
}
.br-team-card p{
    font-size: var(--br-space-300);
    font-weight: 500;
    margin-top: 12px;
}
.br-team-card{
  margin-top: 12px;
}
.br-team-card {
  border-radius: 15px;
  background-color: #fff;
}

.br-team-img {
      width: 50px;
    height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #dee2e6;
}
.br-team-img-checked{
border: 2px solid #28a745;
}
.br-wfh-img{
    
  border: 2px solid hsl(53, 85%, 49%);
}
.br-leave-img{
    
  border: 2px solid hsla(347, 26%, 7%, 0.185);
}
