.br-team-card h3 {
  font-size: var(--br-space-400);
  font-weight: 600;
}

.br-team-card p {
  font-size: var(--br-space-250);
  font-weight: 500;
  margin-top: 12px;
}

.br-team-card {
  margin-top: 12px;
}

.br-team-card {
  border-radius: 15px;
  background-color: #fff;
}

.br-team-img {
  flex-shrink: 0;
  margin: 0px;
  height: calc(15px + 2vw);
  width: calc(15px + 2vw);
  border: calc(12px + 0.2vw) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);

}

.border-gradient-green {
  border-radius: 50%;
  background-image: linear-gradient(#f9f047, #0fd850) !important;
}

.br-team-img-checked {
  border: 4px solid #36d686;
}

.br-wfh-img {
  border: 4px solid #36d686;
}

.br-leave-img {

  border: 2px solid gray;
}

.br-span-dout {
  background-color: green;
  border-radius: 100%;
  max-width: 14px !important;
  max-height: 14px !important;
  padding: 5px;
  margin: 0px 4px 4px -12px;
  position: absolute;

}

.br-span-wfm-dout {
  background-color: rgb(196, 127, 0);
  border-radius: 100%;
  max-width: 14px !important;
  max-height: 14px !important;
  padding: 5px;
  margin: 0px 4px 4px -12px;
  position: absolute;
}

.br-span-dout-text {
  background-color: green;
  border-radius: 100%;
  max-width: 14px !important;
  max-height: 14px !important;
  padding: 5px;
  margin: 2px 4px 4px -12px;
  position: absolute;
}

.br-span-notchecked-text {
  background-color: rgb(196, 127, 0);
  border-radius: 100%;
  max-width: 14px !important;
  max-height: 14px !important;
  padding: 5px;
  margin: 2px 4px 4px -12px;
  position: absolute;
}

.br-span-leave-text {
  background-color: gray;
  border-radius: 100%;
  max-width: 14px !important;
  max-height: 14px !important;
  padding: 5px;
  margin: 2px 4px 4px -12px;
  position: absolute;
}

.team-card-member {
  margin-top: 12px !important;
}