.resorce-img {
    background-image: url("../images//bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flaticon-cloud img {
    border-radius: 10px !important;
}

.resprce-main-title {
    display: flex;
    justify-content: space-around;
}

.resorce-sub-title {

    text-align: left;
    padding-left: 24%;
}



.resorce-sub-title h1 {
    font-size: 46px;
    color: var(--br-white);
    font-weight: 800;
}

.resorce-sub-title p {
    font-size: var(--br-space-400);
    color: var(--br-white);



}

.br-span-sublist {
    color: var(--br-primary);
}

.br-span-list {
    color: var(--br-White);
    padding: var(--br-space-300);
    font-size: var(--br-space-700);
}

.br-span-list1 {
    color: var(--br-black);
    padding: var(--br-space-300);
    font-size: var(--br-space-700);
}

.br-span-list-desig {
    color: var(--br-primary) !important;
    font-weight: 700;
    padding-top: var(--br-space-400) !important;
}

.resorce-sub-list-design {
    padding-top: 24px;
    padding-bottom: 30px;
}

.hero-sub-title {
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    color: var(--br-white);
    margin-bottom: 15px;
    font-weight: 600;
}

.resorce-sub-list-design h1 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    color: #1973d8;
    margin-bottom: 30px;

}

.resorce-sub-list-design p {
    font-size: var(--br-space-300);

}

.card-box-details {
    /* border: var(--br-space-25) solid var(--br-primary); */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: all 0.3s ease;

}

.py-icon {
    color: var(--br-primary) !important;
    font-size: var(--br-space-500);
    font-weight: 600;
}

.card-box-details:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.tech-icon {
    font-size: 60px;
    color: var(--br-primary);
}

.br-span-title {
    font-size: 55px;
    text-align: left;
    font-weight: 500;

}

.bg-opacity {
    font-size: var(--awc-space-700);
}

.resorce-sub-list h1 {
    font-size: 2.2rem;
    line-height: 1;
    display: inline-block;
    color: #1973d8;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center;

}

.resorce-sub-list p {
    font-size: var(--br-space-400);
    color: var(--br-gray) !important;
    line-height: 36px;
    font-weight: 400;
    text-align: justify;
}

.br-head-box {
    background-color: #DAF2FD;
    margin-top: var(--br-space-500) !important;
}

.br-head-box h1 {
    color: var(--br-gray) !important;
    font-weight: 700;
    font-size: var(--br-space-700) !important;
    padding-top: var(--br-space-700);
}

.mobile-app-img {
    width: 50px;
    display: flex;
    justify-content: left;
}

.br-img {
    border-radius: var(--br-space-400) !important;
}

.resorce-about-list {
    color: var(--br-black);
    padding: var(--br-space-300);
    font-size: var(--br-space-700);
}




.table-tab {
    background-color: #F6B325;
}

.nav-fill .nav-item,
.nav-fill>.nav-link {
    margin: var(--awc-space-0) var(--awc-space-50) var(--awc-space-0) var(--awc-space-0);
    border-radius: var(--awc-space-200);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* background-color: var(--awc-white); */
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #F6B325;
    color: var(--awc-white);
}

.nav-tabs .nav-link {
    border: var(--awc-space-0) !important;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {

    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.1);
}

.resorce-tabs {
    background-color: var(--awc-white);
    border-radius: var(--awc-space-200) var(--awc-space-200) var(--awc-space-0) var(--awc-space-0) !important;
}

.table-tab {
    border-radius: var(--awc-space-200) var(--awc-space-200) var(--awc-space-0) var(--awc-space-0) !important;
}






.carousel-control-next-icon {

    border: 1px var(--awc-black) solid;
    border-radius: var(--awc-space-600);
    background-color: hwb(0 0% 100%);
}

.carousel-control-prev-icon {
    border: var(--awc-space-25) hwb(0 0% 100%) solid;
    border-radius: var(--awc-space-550);
    background-color: hwb(0 0% 100%);
}

.carousel-indicators [data-bs-target]::before {
    width: 50px;
    height: auto;
    border-radius: 1px solid red;
}

.carousel-indicators [data-bs-target] {
    background-color: hwb(0 0% 100%) !important;
    border-radius: 12px !important;
    border: 1px solid hwb(0 0% 100%);
}

.carousel-indicators .active {
    border: 1px solid hwb(0 0% 100%);

}

.carousel-indicators>button {
    border-radius: var(--awc-space-300) !important;
    width: 12px !important;
    height: 12px !important;
}

.services-design-head h2 {
    font-size: var(--br-space-500);
    color: var(--br-blue-dark);
    font-weight: 600;
}

.services-design-head p {
    color: var(--br-gray);
    line-height: 162%;

}

.css-1fzpoyk img {
    object-fit: none !important;
}

.design-icon {
    font-size: 42px;
    color: var(--br-primary);
}

.br-tech-stack {}

.testimonial-section {
    background: #F9F9FF;
}

.testimonial-text {
    font-size: 1.1rem;
    color: #555;
    max-width: 700px;
    margin: 0 auto;
}

.testimonial-user {
    text-align: center;
    margin-top: var(--br-space-500);
}

.user-img {

    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #eee;
    /* box-shadow: 0px 4px 10px rgba(0,0,0,0.1); */

}

.stars {
    color: #f7c000;
    font-size: var(--br-space-700);
    margin-top: var(--br-space-100);
}

.br-tech-img {
    margin-top: var(--br-space-400) !important;
}

.br-card-bg {
    background-color: #E4ECF7;
    padding: 74px;

}

.hire-btn {
    background-color: #F6B325;
    font-size: var(--br-space-350);

    background: linear-gradient(#F16063, #FFC656);
    color: var(--br-white);
}

.br-card-bg h3 {
    color: var(--br-black);
    font-size: var(--br-space-500);

}

.br-card-span-text {
    color: var(--br-primary);

}


/* feature Styles */
.feature-box {
    padding: 45px 22px;
    border-radius: 10px;
    box-shadow: 0px 10px 32px #00000012;
    background: var(--br-white);
    transition: all .5s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: -34px !important;
}

.about-wpr {
    margin-bottom: 40px;
    margin-top: 54px;
}

.feature-box::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--br-primary);
    opacity: 1;
    top: 0;
    left: 0;
    scale: 0;
    transition: all .5s ease;
    border-radius: 50%;
}

.feature-box:hover::before {
    scale: 1;
    border-radius: 0;
}

.feature-box:hover .feature-desc p {
    color: var(--br-white);
}

.feature-box:hover .feature-desc h4 {
    color: var(--br-white);
}

.feature-btn {
    color: #1973d8;
    text-decoration: none;
    font-size: var(--br-space-300);

}

a,
a:active,
a:focus,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.feature-box .feature-icon {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;
}

.feature-btn i {
    width: 20px;
    /* Explicit width */
    height: 20px;
    /* Explicit height */
    line-height: 20px;
    /* Match height for vertical centering */
    text-align: center;
    font-size: var(--br-space-300);
    background-color: var(--br-org);
    border-radius: 50%;
    color: var(--br-white);
    margin-left: 7px;
    display: inline-flex;
    /* Better for centering content */
    align-items: center;
    /* Vertical centering */
    justify-content: center;
    /* Horizontal centering */
}


.feature-box .feature-icon::before {
    position: absolute;
    content: '';
    height: 55px;
    width: 55px;
    z-index: -1;
    background: var(--br-org);
    opacity: 0.4;
    top: 6px;
    left: 4rem;
    border-radius: 0 20px 0 0;
}


.feature-box .feature-icon i {
    font-size: 5rem;
    color: black;
    display: inline-block;
    line-height: 1;
}

.feature-box:hover .feature-icon i {
    color: var(--br-white);
}

.grid-3 {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.feature-minus {
    position: relative;
    z-index: 4;
    margin-top: -70px;
}

.feature-minus-top {
    position: relative;
    z-index: 4;

}



/* end feature Styles */

/* about us section start */
.grid-2 {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.about-left-content {
    position: relative;
    z-index: 1;
    margin-bottom: 32px;
}


.about-phase-1 {
    display: grid;
    grid-template-columns: 610px 1fr;
    grid-gap: 10px;
}

.mt-30 {
    margin-top: 3rem;
}

.img,
img {
    max-width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    height: auto;
}

.about-pic-content {
    position: absolute;
    bottom: -70px;
    left: 300px;
}

.about-pic-content .about-yr-exp {
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 200px;
    height: 170px;
    text-align: center;
    background-color: var(--br-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-pic-content .about-yr-exp p {
    -webkit-text-fill-color: #ECEEFD;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--br-black);
    font-size: 90px;
    line-height: 1;
    font-weight: 900;
    margin-bottom: 0;
}

.about-pic-content .about-yr-exp h5 {
    font-size: 20px;
    font-weight: 700;
    color: var(--br-black);
    margin-bottom: 0;
}



.resorce-main-section {
    background-color: #eaf2f6;

}

.heading-1 {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 800;
}

/* about us section End */


/* development approach start*/
.service-box {
    background-color: var(--br-white);
    box-shadow: 0px 10px 32px #00000012;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 2rem 2rem;
}

.service-box:hover::before {
    height: 100%;
}

.service-box::before {
    position: absolute;
    content: '';
    height: 0%;
    width: 100%;
    z-index: -1;
    background: var(--br-primary);
    opacity: 1;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

.service-box .service-desc h4 {
    color: #1973d8;
}

.service-box:hover .service-desc h4 {
    color: var(--br-white);
}

.service-box:hover .service-desc p {
    color: var(--br-white);
}

.service-box .service-icon {
    margin-bottom: 6px;
    line-height: 1;
}

.service-box .service-icon i {
    font-size: 4rem;
    position: relative;
    z-index: 1;
    color: #1973d8;
    display: inline-block;
    line-height: 10px;
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.service-box .service-icon i::after {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    z-index: -1;
    background: var(--br-org);
    opacity: 0.3;
    top: 0;
    left: 0;
    border-radius: 0 50% 50%;
}

.service-box .service-desc h5 {
    font-size: 2rem;
}

.heading-5 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 800;
}

.service-btn {
    background-color: #1973d8;
    color: var(--br-white);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.service-btn:hover {
    background: var(--br-white);
    color: #1973d8;

}

.service-box:hover .service-icon i {
    color: var(--br-white);
}



/* development approach End*/


.box-info {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
}

@media only screen and (max-width: 767px) {
    .about-1 {
        margin-top: 0;
        width: 100%;
    }

    .about-2 {
        display: none;
    }

    .about-pic-content {
        position: inherit;
        bottom: 0;
        left: 0;
    }

    .about-3 {
        display: none;
    }

    .about-phase-1 {
        grid-template-columns: 1fr;
    }

    .about-pic-content .about-yr-exp {
        display: none;
    }
}

@media (max-width: 1180px) {}

@media (max-width: 844px) {}

/* Mobile view (max-width: 768px) */


@media only screen and (max-width: 568px) {

    .grid-3 {

        grid-template-columns: 1fr;
    }

    .banner-img {
        display: none;
    }

    .resorce-sub-title {

        padding-left: 0%;
    }

    .hero-sub-title {
        font-size: 1.2rem;
        line-height: 0;

    }

    .br-span-title {
        font-size: 32px;

    }

    .feature-minus {

        margin-top: -11px;
    }
}

@media (max-width: 844px) {

    .feature-minus {

        margin-top: -12px;
    }

    .resorce-sub-title {

        padding-left: 0%;
    }

    .hero-sub-title {
        font-size: 1.2rem;
        line-height: 0;

    }

    .br-span-title {
        font-size: 24px;

    }
}


@media only screen and (max-width: 568px) {

    .grid-3 {

        grid-template-columns: 1fr;
    }
}