.resorce-img {
    background-image: url("../images//bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.resprce-main-title {
    display: flex;
    justify-content: space-around;
}

.resorce-sub-title {

    text-align: center;
}

.resorce-sub-title h1 {
    font-size: 46px;
    color: #F6B325;
}

.resorce-sub-title p {
    font-size: var(--br-space-400);
    color: var(--br-gray);
    


}
.br-span-sublist{
    color: var(--br-primary);
}

.br-span-list{
    color:#1A202C;
    font-weight: 700;
padding: var(--br-space-300);
}

.br-span-list-desig{
    color:var(--br-primary) !important;
    font-weight: 700;
padding-top: var(--br-space-400) !important;
}
.resorce-sub-list-design h1{
    color: var(--br-primary) !important;
    font-size: var(--br-space-700);
}
.resorce-sub-list-design p{
    font-size: var(--br-space-300);

}
.card-box-details{
    /* border: var(--br-space-25) solid var(--br-primary); */
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px; 
  transition: all 0.3s ease; 

}
.py-icon{
    color: var(--br-primary) !important;
    font-size: var(--br-space-500);
    font-weight: 600;
}

.card-box-details:hover{
     box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25); 
}
.tech-icon{
    font-size: 60px;
    color: var(--br-primary);
}
.br-span-title{
    font-weight: 300 !important;

}
.bg-opacity{
    font-size: var(--awc-space-700);
}
.resorce-sub-list h1 {
    font-size: var(--br-space-700);
    color: var(--br-primary) !important;
    font-weight: 700;

}
.resorce-sub-list p {
    font-size: var(--br-space-400);
    color: var(--br-gray) !important;
    line-height: 36px;
    font-weight: 400;
    text-align: justify;
}
.br-head-box{
    background-color: #DAF2FD;
    margin-top: var(--br-space-500) !important;
}
.br-head-box h1{
    color: var(--br-gray) !important;
    font-weight: 700;
    font-size: var(--br-space-700) !important;
   padding-top: var(--br-space-700);
}
.mobile-app-img {
    width: 50px;
    display: flex;
    justify-content: left;
}
.br-img{
    border-radius: var(--br-space-400) !important;
}
.resorce-about-list{
    color: var(--br-gray);
    font-weight: 700;
}




.table-tab {
    background-color: #F6B325;
}

.nav-fill .nav-item,
.nav-fill>.nav-link {
    margin: var(--awc-space-0) var(--awc-space-50) var(--awc-space-0) var(--awc-space-0);
    border-radius: var(--awc-space-200);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* background-color: var(--awc-white); */
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #F6B325;
    color: var(--awc-white);
}

.nav-tabs .nav-link {
    border: var(--awc-space-0) !important;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {

    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.1);
}

.resorce-tabs {
    background-color: var(--awc-white);
    border-radius: var(--awc-space-200) var(--awc-space-200) var(--awc-space-0) var(--awc-space-0) !important;
}

.table-tab {
    border-radius: var(--awc-space-200) var(--awc-space-200) var(--awc-space-0) var(--awc-space-0) !important;
}






.carousel-control-next-icon {

    border: 1px var(--awc-black) solid;
    border-radius: var(--awc-space-600);
    background-color: hwb(0 0% 100%);
}

.carousel-control-prev-icon {
    border: var(--awc-space-25) hwb(0 0% 100%) solid;
    border-radius: var(--awc-space-550);
    background-color: hwb(0 0% 100%);
}

.carousel-indicators [data-bs-target]::before {
    width: 50px;
    height: auto;
    border-radius: 1px solid red;
}

.carousel-indicators [data-bs-target] {
    background-color: hwb(0 0% 100%) !important;
    border-radius: 12px !important;
    border: 1px solid hwb(0 0% 100%);
}

.carousel-indicators .active {
    border: 1px solid hwb(0 0% 100%);

}

.carousel-indicators>button {
    border-radius: var(--awc-space-300) !important;
    width: 12px !important;
    height: 12px !important;
}
.services-design-head h2{
    font-size: var(--br-space-500);
    color: var(--br-blue-dark);
    font-weight: 600;
}
.services-design-head p{
    color: var(--br-gray);
    line-height: 162%;

}
.css-1fzpoyk img {
object-fit: none !important;
}
.design-icon {
    font-size: 42px;
    color: var(--br-primary);
}

.br-tech-stack{
    background-color: var(--br-white);
}
.testimonial-section {
  background: #F9F9FF;
}

.testimonial-text {
  font-size: 1.1rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
}

.testimonial-user {
  text-align: center;
  margin-top: var(--br-space-500);
}

.user-img {
  
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #eee;
  /* box-shadow: 0px 4px 10px rgba(0,0,0,0.1); */
  
}

.stars {
  color: #f7c000;
  font-size: var(--br-space-700);
  margin-top: var(--br-space-100);
}

.br-tech-img{
   margin-top: var(--br-space-400) !important;
}
.br-card-bg{
    background-color: #E4ECF7;
    padding: 74px;
    
}
.hire-btn{
    background-color: #F6B325;
    font-size: var(--br-space-350);
    
background: linear-gradient( #F16063, #FFC656);
color: var(--br-white);
}
.br-card-bg h3{
    color: var(--br-black);
    font-size: var(--br-space-500);
    
}
.br-card-span-text {
    color: var(--br-primary);
    
}
@media (max-width: 1180px) {
   

   
   
}

@media (max-width: 844px) {
   

   

   
}

@media only screen and (max-width: 568px) {
    .resorce-sub-title {
        margin-top: var(--awc-space-0);
    }

    .resorce-tabs1 {
        display: none;
    }
.br-tech-stack{
    text-align: center;
}
    /* .recorce-accordion {
        display: table;
    } */

  

    .resorce-sub-list h1 {
        margin-top: var(--awc-space-500);
    }
    .card-box-image{
        margin-bottom: var(--br-space-400);
    }

}